body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
}
.clickable {
  cursor: pointer;
}
.outline:focus {
  box-shadow: 0 0 0 2px !important;
}
.center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
